@import '../../../scss-vars/colors';

.card {
  width: 200px;
  height: 100%; // allows container to control height
  min-height: 400px; // enforce same height for all cards
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $app-card-bg;
  color: $app-white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px $app-black-20;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-body {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

button {
  margin-top: 0.5rem;
  background: $app-chips-bg-active;
  color: $app-white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}