$app-white: #ffffff;
$app-black: #1c1c1c;
$app-black-20: rgba(0, 0, 0, 0.2);
$app-card-bg: #2a2a2a;
$app-gray: #cccccc;
$app-movie-detail-bg: #121212;
$app-chips-bg: #444444;
$app-chips-bg-active: #e50914;
$app-button-disabled: #555555;
$app-blue: #00bcd4;